<!doctype html>
<html class="no-js" lang="en">
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    [[__head]]
    <link rel="stylesheet" href="/css/admin.min.css">
  </head>
<body>
	<div class="row header sticky">
		<div class="column large-12">
			<a class="logo" href="/"></a>
			<a href="/admin-logout" class="button">Log Out</a>
		</div>
	</div>

    [[__content]]

    <script src="/js/admin.min.js"></script>
    <script src="/tinymce/tinymce.min.js"></script>
	<script>
        $(document).foundation();
    </script>

</body>
</html>